.authLinks a:last-child {
  margin-right: 0;
  color: white;
  background-color: var(--cyan);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
}

.authLinks a:last-child:hover {
  color: white;
  background-color: var(--cyan-hover);
}

.desktop {
  flex-grow: 1;
}

.desktop a {
  margin-right: 3rem;
}

.desktop a:hover {
  color: var(--very-dark-violet);
}

.links a:last-child {
  margin-right: 0;
}

.mobile {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 0 0 3rem;
}

@media only screen and (max-width: 820px) {
  .nav {
    padding: 0 0 0 2rem;
  }
}

@media only screen and (max-width: 630px) {
  .authLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .desktop {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.1rem solid var(--grayish-violet);
    padding: 2rem 0;
  }

  .mobile {
    display: block;
    padding: 0 2rem;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .nav {
    flex-direction: column;
    background-color: var(--dark-violet);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 2rem;
    border-radius: 2rem;
  }

  .nav a {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .nav a:last-child {
    margin-bottom: 0;
  }

  .mobile a {
    margin-right: 0;
    color: white;
  }
}
