* {
  box-sizing: border-box;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--gray);
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

.srOnly {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --cyan-hover: hsl(180, 66%, 80%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --main-section-bg: #eff1f7;
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}
